<div class="container">
    <div class="carrossel">
        <div class="carrosselContainer">  
            <img [src]="cebola" alt="foto1">
            <img [src]="frango" alt="foto2">
            <img [src]="ovo" alt="foto3">
            <img [src]="salgadinho" alt="foto4">
            <img [src]="cebola" alt="foto1">
            <img [src]="frango" alt="foto2">
            <img [src]="ovo" alt="foto3">
            <img [src]="salgadinho" alt="foto4">
        </div>
    </div>
</div>

<div class="containerCards">
    <div class="cards">
        <img [src]="ovo" alt="ovo">
        <div class="card-body">
            <h5 class="card-title"> ovo </h5>
            <p class="card-text">uma cartela de 30 ovos 13,99R$</p>
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
    </div>
    <div class="cards">
        <img [src]="frango" alt="frango">
        <div class="card-body">
            <h5 class="card-title"> frango resfriado </h5>
            <p class="card-text">um frango resfriado 7,99KG</p>
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
    </div>
    <div class="cards">
        <img [src]="salgadinho" alt="coxinha">
        <div class="card-body">
            <h5 class="card-title"> coxinha </h5>
            <p class="card-text">uma coxinha c/ ou s/ catupiri 5R$ unidade</p>
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
    </div>
    <div class="cards">
        <img [src]="cebola" alt="cebola">
        <div class="card-body">
            <h5 class="card-title"> cebola </h5>
            <p class="card-text">uma duzia de ovos 13,99R$</p>
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
    </div>
</div>