<div class="container">
    <nav>
        <img [src]="imagem" class="logo">
        <h1 class="nome">Compre<span id="spann">Bem</span></h1>
        <ul>
            <li><a href="#" class="nave">Inicio</a></li>
            <li><a href="#" class="nave">produtos</a></li>
            <li><a href="#" class="nave">carrinho</a></li>
            <li><a href="#" class="nave">sla</a></li>
        </ul>
        <div class="pesquisar">
            <button class="buttonn" ><img [src]="lupa" class="imagem"></button>
            <input type="text" placeholder="pesquisar" >
        </div>
    </nav>
</div>
